<!DOCTYPE HTML>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>html5 format</title>
<style>
body{
  text-align:center;
}
</style>
</head>
<body>
<div id="header">
  <h1>コラボレイティブ開発特論</h1>
　<h2>group-delta</h2>
  <h5>グループメンバー</h5>
 　韓、中森、林
</div>
<div id="content">
  <a href="/toSayhello">sayhello</a>
</div>
</body>
</html>

